body {
  background-color: #fff6e9;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.nav-botoes {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  gap: 0.5rem;
}

.nav-botoes button {
  background-color: #dbc7ab;
  padding: 0.4rem 0.8rem;
  border: 1px solid #584b38;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.calendar-grid {
  width: 100%;
  max-width: 1000px;
  background-color: white;
  border: 1px solid #c0b0b0;
  border-radius: 10px;
  padding: 20px;
  font-size: 28px;
  text-align: center;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: bold;
  margin-bottom: 10px;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 12px;
}

.date-button,
.date-button-previous {
  border: 1px solid #c0b0b0;
  border-radius: 10px;
  padding: 1rem 0;
  text-align: center;
  font-size: 20px;
}

.date-button {
  background-color: #ffffff;
}

.date-button-previous {
  background-color: #f8f8f8;
  color: #c0b0b0;
  opacity: 0.7;
}

.today {
  background-color: #584b38;
  color: white !important;
  font-weight: bold;
  border: 2px solid #584b38;
}


.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  animation: fadeIn 0.3s;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.close {
  float: right;
  font-size: 28px;
  cursor: pointer;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to   { opacity: 1; transform: translateY(0); }
}
