body {
  background-color: #fff6ec; 
  font-family: "Poppins", sans-serif;
  color: #4b2e2b; 
  margin: 0;
  padding: 0;
  text-align: center;
}

.title {
  padding: 30px;
}

h1 {
  color: #4b2e2b;
  margin-bottom: 10px;
}

p {
  color: #7b5a52;
  font-size: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding-bottom: 50px;
}


.btn-primario, .btn-secundario {
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-primario {
  background-color: #4b2e2b;
  color: #fff6ec;
}

.btn-primario:hover {
  background-color: #6b423e;
}

.btn-secundario {
  background-color: #f3d7b8;
  color: #4b2e2b;
  font-weight: 600;
}

.btn-secundario:hover {
  background-color: #e8c9a3;
}

.caixa-com-link {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}


.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.card-btn {
  background-color: #ffffff;
  border-radius: 10px;
  border: 2px solid #d3bba5;
  padding: 25px 40px;
  font-size: 1rem;
  color: #4b2e2b;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.card-btn:hover {
  background-color: #f7e7d2;
  border-color: #c3a58d;
  transform: translateY(-3px);
}


h4 {
  margin: 10px 0;
  color: #4b2e2b;
}

.agendamentos {
  background-color: #fff;
  padding: 20px;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  text-align: left;
}

.agendamentos h3 {
  text-align: center;
  margin-bottom: 20px;
}

.agendamento-item {
  border: 1px solid #e2d0b3;
  border-radius: 8px;
  padding: 15px;
  margin-top: 10px;
}

.agendamento-item h4 {
  margin: 0;
}

.agendamento-item button {
  background-color: #4b2e2b;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  float: right;
}
