body {
  background-color: #fff6e9;
  font-family: "Segoe UI", Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  margin-top: 5px;
  color: #5b2c24;
}

.title .icon {
  width: 30px;
  height: 30px;
}

.title h1 {
  font-size: 2.3em;
  margin: 10px 0 5px 0;
}

.title p {
  font-size: 1.2em;
  opacity: 0.8;
}


main {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 8px;
}

.form-container {
  background-color: #fff;
  border: 2px solid #deb887;
  border-radius: 15px;
  padding: 30px 40px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.form-container h2 {
  color: #5b2c24;
  margin-bottom: 10px;
}

.form-container p {
  color: #555;
  margin-bottom: 25px;
}


.caixa-com-link {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}

.btn-primario,
.btn-secundario {
  flex: 1;
  border: none;
  padding: 10px 0;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-secundario {
  background-color: #f5deb3;
  color: #5b2c24;
}

.btn-secundario:hover {
  background-color: #e2c89e;
}

.btn-primario {
  background-color: #5b2c24;
  color: #fff;
}

.btn-primario:hover {
  background-color: #7c3b2f;
}


label {
  display: block;
  text-align: left;
  color: #5b2c24;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-box {
  display: flex;
  align-items: center;
  background-color: #fff6e9;
  border: 1px solid #d6b48c;
  border-radius: 8px;
  padding: 8px 12px;
  margin-bottom: 20px;
}

.input-box input {
  border: none;
  background: transparent;
  flex: 1;
  font-size: 15px;
  outline: none;
  color: #333;
  
}

.input-box .icon {
  margin-right: 10px;
  opacity: 0.7;
}

.toggle {
  cursor: pointer;
  opacity: 0.7;
  margin-left: 5px;
}


.btn-login {
  width: 100%;
  background-color: #5b2c24;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-login:hover {
  background-color: #7c3b2f;
}


@media (max-width: 500px) {
  .form-container {
    padding: 40px;
  }
}
